@import 'primevue/resources/primevue.min.css';
@import 'primevue/resources/themes/soho-light/theme.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  @apply w-full h-full
}
